dataweave-sample/src/main/mule/dataweave-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="84b8a1ff-8d77-4d79-8d3c-7e74f396e21d" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataweave-sampleFlow" doc:id="dc113158-93a6-4be4-9bb7-0cb4d74aafc2" >
		<http:listener doc:name="Listener" doc:id="e34f410d-2c98-4c16-b972-0e63a8538beb" config-ref="HTTP_Listener_config" path="/xml2json"/>
		<logger level="INFO" doc:name="Logger" doc:id="a2263ab1-f53a-4521-a34f-78e30c34189d" message="Request :::: #[payload]"/>
		<ee:transform doc:name="XML to JSON" doc:id="38ecf929-dcc9-44a5-9155-cc3316356a61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json	
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ecae3555-6a90-4f47-8a74-328b0bce2484" message="Response :::: #[payload]"/>
	</flow>
	<flow name="dataweave-sampleFlow1" doc:id="daacb795-75fb-41af-96fe-d5dd2f74665a" >
		<http:listener doc:name="Listener" doc:id="37a284f4-2ee1-47d4-b023-32a36e74aa74" config-ref="HTTP_Listener_config" path="/json2xml"/>
		<logger level="INFO" doc:name="Logger" doc:id="6eeec1ec-2b62-4d68-b83e-44a7338908d6" message="Request :::: #[payload]"/>
		<ee:transform doc:name="JSON to XML" doc:id="001c66f1-3702-449f-b34a-d4d886ad0530" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	Customer:payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cab268fd-ebaa-4518-a559-096068ac5fcc" message="Response :::: #[payload]"/>
	</flow>
	<flow name="dataweave-sampleFlow2" doc:id="b2a82418-409f-4f91-bffa-7e15ad83fa13" >
		<http:listener doc:name="Listener" doc:id="c6292e20-a275-4dc0-b61c-d943fb9836b9" config-ref="HTTP_Listener_config" path="/json2csv"/>
		<ee:transform doc:name="Transform Message" doc:id="4dc14ae4-ad8c-475b-8836-ad751df8c403" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true
---
payload.Customers.Customer map ( customer , indexOfCustomer ) -> {
	id: indexOfCustomer,
	CompanyName: customer.CompanyName,
	ContactName: customer.ContactName,
	ContactTitle: customer.ContactTitle,
	Phone: customer.Phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="f7d5867e-38e9-4515-afe5-1e668ee8ebed" path="C:\Users\Laxmi\OneDrive\Desktop\Customer.csv"/>
	</flow>
</mule>
