hello-demo/src/main/mule/hello-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8181fb6-7eee-4c62-9083-27b409ff5bce" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-demoFlow" doc:id="32971721-6257-4958-b019-34cb5d240e35" >
		<http:listener doc:name="Listener" doc:id="58f6cae7-948b-45dc-a2de-2ed4d2ddb115" config-ref="HTTP_Listener_config" path="/{name}"/>
		<logger level="INFO" doc:name="Logger" doc:id="dace0c88-822c-43ef-a3aa-0af490178be7" message="Starting  to Enter ::: #[message]"/>
		<ee:transform doc:name="Transform Message" doc:id="7bf1f0a9-eba4-49ec-80a9-8012c651648e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Greeting : "Hello " ++ (attributes.uriParams.name default '')
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="12a59ac3-9ab8-42f6-9ce6-5f630fcaead0" message="Exist from the flow ::: #[payload]"/>
	</flow>
</mule>
