claims-api-services/src/main/mule/services/claims/create/claims_create.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="claims-api-services-create-new-claims-Flow" doc:id="92761982-26f2-460e-aad2-4a54d6ea1579" >
		<http:listener doc:name="Listener" doc:id="97daa8e9-4bb3-43bd-b715-bcb1414b1be3" config-ref="HTTP_Listener_config" path="/claims" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="a8a59061-de24-4abd-b2c6-7e5021c34c92" message="Request for creating new claims ::: #[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="f4f180c3-06e3-421a-8402-78fed6eac353" name="claims_createSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="4d20d7f0-7169-4a40-ad20-7a45fb1dcc3c" message="Response from claim created ::: #[payload]"/>
	</flow>
	<sub-flow name="claims_createSub_Flow" doc:id="6cd27d46-25c7-4245-96a6-fb720ff42f12" >
		<validation:is-not-null doc:name="Is not null" doc:id="c732fb3d-b4b1-4126-afd2-ef3accf70138" value="#[payload.claims]" message="Claim Details Should Not Be Null" />
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="e0bbd4dd-be9a-4c8a-ae8c-2932e1257c90" variableName="claimNumber" />
		<os:store doc:name="Store" doc:id="c41f7d3f-adf5-4a03-b31f-b6ff61e82e73" key="#[vars.claimNumber]" />
		<ee:transform doc:name="Transform Message" doc:id="395d0375-ccf6-4777-b8a4-0cb62ad744c0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Status:"SUCCESS",
	Message: "Claim Created Successfully",
	ClaimNumber: vars.claimNumber
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>	
	
	
	
	

</mule>
